/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

&left_encoder { steps = <40> /* Change this to your encoder's number of detents times 2 */; };
&right_encoder { steps = <40> /* Change this to your encoder's number of detents times 2 */; };

#define DEFAULT 0
#define NUM 1
#define FN 2

#define NONE 0

/ {
	keymap {
		compatible = "zmk,keymap";
//		&left_encoder { resolution = <2>; };
//		&right_encoder { resolution = <2>; };

		default_layer {
// ---------------------------------------------------------------------------------------------------------------------------------
// |  ESC  |  Q  |  W  |  E   |  R   |  T   |                                          |  Y   |  U    |  I    |  O   |   P   |   \  |
// |  TAB  |  A  |  S  |  D   |  F   |  G   |                                          |  H   |  J    |  K    |  L   |   ;   |   '  |
// | SHIFT |  Z  |  X  |  C   |  V   |  B   | L SHIFT | L SHIFT |  | L SHIFT | L SHIFT |  N   |  M    |  ,    |  .   |   /   | CTRL |
//                     | GUI  | DEL  | RET  |  SPACE  |   ESC   |  |   RET   |  SPACE  | TAB  | BSPC  | R-ALT |
			bindings = <
	&kp TAB   &kp Q &kp W &kp E &kp R &kp T                                                &kp Y &kp U  &kp I     &kp O   &kp P    &kp BSLH
	&kp BSPC   &kp A &kp S &kp D &kp F &kp G                                                &kp H &kp J  &kp K     &kp L   &lt NUM SEMI &kp SQT
	&kp LSHFT &kp Z &kp X &kp C &kp V &kp B &mo NUM &lt FN ESC        &kp LALT &kp LGUI &kp N &kp M  &kp COMMA &kp DOT &kp FSLH &kp RSHFT
	                 &kp LGUI &kp LEFT &kp RIGHT &kp SPACE &kp LCTRL        &kp DEL  &kp RET  &kp UP &kp DOWN &kp RSHFT
			>;

			sensor-bindings = <&inc_dec_kp LEFT RIGHT &inc_dec_kp DOWN UP>;
		};

		number_layer{

				bindings = <
	&kp EQUAL   &kp EXCL &kp AT &kp LPAR &kp RPAR &kp HASH                                                &kp PLUS &kp N7  &kp N8     &kp N9   &kp P    &kp UNDER
	&kp BSPC   &kp MINUS &kp EQUAL &kp LBRC &kp RBRC &kp PLUS                                                &kp MINUS &kp N4  &kp N5     &kp N6   &kp SEMI &kp SQT
	&kp LSHFT &kp PRCNT &kp CARET &kp LBKT &kp RBKT &kp TILDE &mo NUM &lt FN ESC        &bt BT_PRV &bt BT_NXT &kp EQUAL &kp N1  &kp N2 &kp N3 &kp FSLH &kp RSHFT
	                 &kp LGUI &kp HOME &kp END &kp SPACE &kp LCTRL        &kp DEL  &kp RET  &kp UP &kp N0 &kp RSHFT
			>;

			sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP &inc_dec_kp PG_UP PG_DN>;
		};
	function_layer{

                                bindings = <
        &kp EQUAL   &kp EXCL &kp AT &bt BT_CLR &bt BT_PRV &bt BT_NXT                                                &kp PLUS &mt F17 F7  &mt F18 F8     &mt F19 F9   &kp P    &kp UNDER
        &kp BSPC   &kp MINUS &kp EQUAL &kp LBRC &kp RBRC &kp PLUS                                                &kp MINUS &mt F14 F4  &mt F15 F5     &mt F16 F6   &kp SEMI &kp SQT
        &kp LSHFT &kp PRCNT &kp CARET &kp LBKT &kp RBKT &kp TILDE &mo NUM &lt FN ESC        &bt BT_PRV &bt BT_NXT &kp EQUAL &mt F11 F1  &mt F12 F2 &mt F13 F3 &kp FSLH &kp RSHFT
                         &kp LGUI &kp LEFT &kp RIGHT &kp SPACE &kp LCTRL        &kp DEL  &kp RET  &kp UP &mt F20 F10 &kp RSHFT
                        >;

                        sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP &inc_dec_kp PG_UP PG_DN>;
                };



	};
};

&sensors {
    // Change this to your encoder's number of detents.
    // If you have multiple encoders with different detents, see
    // https://zmk.dev/docs/config/encoders#keymap-sensor-config
    triggers-per-rotation = <20>;
};
